$bg-color: linear-gradient(15deg, #00a9f1, #cf00f1);
$text-color: #fff;



h1 {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 100px;
  margin: 0;
  padding: 30px;
  text-transform: uppercase;
  
  @media (max-width: 700px) {
    padding: 20px;
    font-size: 40px;
  }

  span {
    display: inline-block;
    transition: transform .6s cubic-bezier(.65,.02,.23,1);
    transform: translate(20%, 100%);
    position: relative;
    z-index: 1;
    letter-spacing: -0.03em;
    text-shadow: 3px 4px 0 rgba(0, 0, 0, .1);
    
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(-40%);
      transition: transform .6s cubic-bezier(.65,.02,.23,1);
    }
    
    &.row {
      overflow: hidden;
      line-height: 0.9;
      display: block;
      transform: none;
      
      &:before {
        display: none;
      }
    }
  }

  .animate {
    transform: translate(0, 0);
    
    &:before {
      transform: translateY(100%);
    }
  }
}